html {
    font-family: 'Fira Code', monospace;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
    width: 40%;
}

section {

}

aside {
    width: 40%;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

li {
    display: flex;
    flex-direction: row;
}

li div {
    width: 30%;
    display: flex;
    flex-direction: column;
}

li div div {
    display: flex;
    flex-direction: row;
}

ul li:last-child {
    margin-top: 1em;
    margin-right: auto;
    width: 50%;
}